@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #000;
  color: #fff;
}
b {
  color: yellow;
  font-weight: 900;
}
.contaiiner {
  width: 45%;
  padding: 15vh 0;
}
@media (max-width: 1510px) {
  body {
    height: auto;
  }
  .contaiiner {
    width: auto;
    margin: 20px 20%;
    height: auto;
    padding: 0;
  }
  .datacard {
    width: 100%;
    flex-direction: column;
  }
  .layout {
    width: 100%;
  }
  .cardimg {
    min-width: 100%;
    height: 300px;
    overflow: visible;
  }
  .carddesc {
    min-width: 100%;
  }
  .cardimg > img {
    border-radius: 6px;
  }
  .paltechbox {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .paltechbox > ul {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .paltechbox > ul > h3 {
    width: 100%;
  }
  .paltechbox > ul > li {
    margin-right: 10px;
  }
}
@media (max-width: 700px) {
  .contaiiner {
    margin: 20px;
  }
}
